<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="index.html">SWE432</a>
                </li>
                <li>
                    <a href="donationScreen.html">Donation</a>
                </li>
                <li>
                    <a href="donationList.html">Search</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Donation List</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
            <!-- table content goes here -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h1>Find a Donation</h1>
        <form>
            <span>
                <label for="search">Search:</label>
                <input type="text" id="search" name="search" style="margin-left: 0.75vw;">
            </span>
        </form>
    </main>
    <footer>
        <p>Copyright 2022 GMU</p>
    </footer>
</body>
</html>